:root {
  --bg-color: hsl(0, 0%, 8%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 922px;
  width: calc(100% - 20px);
}

.card {
  background-color: hsla(0, 0%, 100%, 2%);
  height: 260px;
  width: 300px;
  border: 1px solid hsla(0, 0%, 100%, 10%);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  content: "";
  height: 100%;
  width: 100%;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    hsla(0, 0%, 100%, 6%),
    transparent 40%
    );
    border-radius: inherit;
    position: absolute;
    /* z-index: 2; */
    left: 0;
    top: 0;
    opacity: 0;
    transition: 500ms;
}
