:root {
  --bg-color: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 9%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 922px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: hsla(0, 0%, 100%, 10%);
  height: 260px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::after,
.card::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 500ms;
}

.card::before {
  z-index: 3;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    hsla(0, 0%, 100%, 6%),
    transparent 40%
  );
}

.card::after {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    hsla(0, 0%, 100%, 30%),
    transparent 40%
    );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  z-index: 2;
}
